<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sinatra Exchange Rates</title>
</head>
<body>
  <h1> Convert <%= @selected_currency1 %> to <%= @selected_currency2 %> </h1>

  <p>1 <%= @selected_currency1 %> equals <%= @rate %> <%= @selected_currency2 %> </p>

  <p>Go <a href="/<%= @selected_currency1 %>">back</a></p>
</body>
</html>
